<section class="hero">

    <h1>Passed Notes</h1>

    <p>
        A digital archive of school memories.
        Read through my zine and leave behind your own anonymous memory.
    </p>

    <button id="openBtn">Open Archive</button>

</section>

<section class="flipbook-section">

    <div id="flipbook">
         <div class="page">
            <img src="/images/img01.png">
        </div>

        <div class="page">
            <img src="/images/img02.png">
        </div>

        <div class="page">
            <img src="/images/img03.png">
        </div>

        <div class="page">
            <img src="/images/img04.png">
        </div>

        <div class="page">
            <img src="/images/img05.png">
        </div>
           <div class="page">
            <img src="/images/img06.png">
        </div>

        <div class="page">
            <img src="/images/img07.png">
        </div>

        <div class="page">
            <img src="/images/img08.png">
        </div>

        <div class="page">
            <img src="/images/img09.png">
        </div>

        <div class="page">
            <img src="/images/img10.png">
        </div>
         <div class="page">
            <img src="/images/img11.png">
        </div>

        <div class="page">
            <img src="/images/img12.png">
        </div>

    </div>

</section>

<section class="memory-section">

    <h2>Leave Your Memory</h2>

    <div class="controls">
         <textarea id="memoryInput" placeholder="Write your school memory..."></textarea>

        <select id="colorInput">
            <option value="#ffeb3b">Yellow</option>
            <option value="#ffb6c1">Pink</option>
            <option value="#90caf9">Blue</option>
            <option value="#a5d6a7">Green</option>
        </select>

        <button id="submitBtn">Post Memory</button>

    </div>

    <div id="notesWall"></div>

</section>