<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>School Memory Archive</title>

    <link rel="stylesheet"
          href="/stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/turn.js@4/turn.min.js"></script>

</head>

<body>

    {{{body}}}

    <script src="/javascripts/script.js"></script>

</body>
</html>